.navbar {
  background-color: #f0f0f0;
  padding: 5px 20px; 
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 90%; 
  border-radius: 15px; 
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 20px;
}

.navbar a {
  color: rgb(22, 21, 21);
  text-decoration: none;
  font-size: 1em;
  font-weight: bold; 
  padding: 5px 15px; 
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar a:hover {
  color: #ff6347;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}


@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    align-items: center;
  }

  .navbar li {
    margin: 10px 0;
  }
}
