.footer {
  margin-top: 20px;
    background-color: #282c34;
    color: white;
    padding: 0px 50px;
    text-align: center;
    border-radius: 15px;

  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .footer-section {
    margin: 10px;
  }
  
  .footer-section h2 {
    margin-bottom: 10px;
  }
  
  .footer-section p {
    margin: 5px 0;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 5px 0;
  }
  
  .footer-section ul li a {
    color: white;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  .social-media a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 24px;
  }
  
  .social-media a:hover {
    color: #ff6347; 
  }
  
  .footer-bottom {
    margin-top: 20px;
    font-size: 14px;
  }
  